/*
font-family: 'DM Sans', sans-serif;
font-family: 'Caveat', cursive;
*/

:root{
    --texte:#000000;
    --principale:#c59ef8;
    --secondaire:#f89ef4;

}
*{
    color: var(--texte);
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
main{
    max-width: 1920px;
    margin: 0 auto;
    box-shadow:0px 0px 50px black;

}
body{

    background: rgb(254,236,255);
    background: linear-gradient(0deg, rgba(53,9,121,1) 0%, rgba(235,202,255,1) 100%);
    width: 100vw;
    overflow-x: hidden;
    position: relative;

    margin: 0 auto;

}

header{
    max-width: 1920px;
    margin: 0 auto;
    box-shadow:0px 0px 50px black;
aspect-ratio: 16/9;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/n8.jpg);
    background-size:cover;
     aspect-ratio: 1604/965;
     background-size:cover;
     background-position:center;
      background-repeat:no-repeat;
      position: relative;
      text-align: center;
    }
h1{
    position: absolute;
    width: 100%;
    top: 10vmin;
    font-family: 'Caveat', cursive;
font-size: 10vmin;
}
header p{
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2vmin;
    width: 80%;
    font-size: 2vmin;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%)
}

.action{
    position: absolute;
    width: 100%;
    bottom: 20vmin;
    font-family: 'Caveat', cursive;
    font-size: 10vmin;
}

section{
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 1920px;

}
#n1{
    background-image: url(../img/img_arriere_plan/n1.png);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 1717/966;

    }
#n2{
    background-image: url(../img/img_arriere_plan/mur_brique_fond.jpg);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 1604/965;


}
#n3{
    background-image: url(../img/img_arriere_plan/n3.png);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 1717/966;
}
#n4{
    background-image: url(../img/img_arriere_plan/n4.png);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 1717/966;
}
#n5{
    overflow: hidden;
    background-image: url(../img/img_arriere_plan/n5.png);
    background-size:cover;
    background-position:left;
     background-repeat:no-repeat;
     aspect-ratio: 1717/966;
}
#n6{
    background-color:#0aaddf;
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 16/9;
}
#n7{
    background-image: url(../img/img_arriere_plan/n7.png);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 16/9;
}
#n8{
    background-image: url(../img/img_arriere_plan/n8.jpg);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 16/9;
}


.spritesheetbody{
    height: 600vh;
    width: 100vw;
}
.spritesheetmarche{
    position: absolute;
    width: 300px;
    bottom:225px;
    left: 0;
    aspect-ratio: 1/1;
    background-size: 2400% 100%;
    background-position: 2400% 0;
    background-image: url(../img/img_elements_visuels/spritesheet_chat_marche.png);
    animation-name: marche;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(24);
    animation-play-state: paused;
}
@keyframes marche {
    from { background-position: 0 0; }
    to { background-position: -2400% 0; } 
  }
  .spritesheettombe{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 2164px;
    aspect-ratio: 1/1;
    background-size: 2400% 100%;
    background-position: 2400% 0;
    background-image: url(../img/img_elements_visuels/spritesheet_tombe.png);
    animation-name: marche;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(24);
    animation-play-state: paused;
}
  .is-scrolling .spritesheetmarche,  .is-scrolling .spritesheettombe {
    animation-play-state:running
  }

  .collier{
      height: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-60%, -75%);
  }

  .boucle{
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -200%);
}

.ampoule{
    position: absolute;

    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.arbre{
    position: absolute;
    height: 1000px;
    bottom: -200px;
    right: -100%;
}
.arbre2{
    position: absolute;
    height: 1000px;
    bottom: -200px;
    right: -100%;
}

.derriere{
top: -100px;
}

.arbrechat{
    position: absolute;
    height: 1000px;
    bottom: -200px;
    right: -100%
}
.chatrosesaute{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 0;
    width: 100px;
}
.seul{
    position: absolute
}

section{
    overflow: hidden;
}

.etoile1{
    position: absolute;
    top: 10vmin;
    left: 10vmin;
}
.etoile2{
    position: absolute;
    bottom: 60vmin;
    right: 10vmin;
}

.nuage{
    position: absolute;
    top: 0;
}
.vague{
    position: absolute;
    bottom: 0;
    left: 0;
}

.bateau{
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
}

.gauche{
    left: 0;
    bottom: 0;
    position: absolute;
    width: 30vw;
}
.droite{
    right: 0;
    bottom: 0;
    position: absolute;
    width: 30vw;

}
.chatnonlineaire{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.chatetoilecoeur{
    width: 30vmin;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

p{
    height: fit-content;

    font-size: 3vmin;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.p1{
    position: relative;
}
.p2{
    position: relative;

}
.n1{
    left: 80%;
    background-color: rgb(245, 157, 85);
}
.n2{

    top: 86%;
    background-color: rgb(245, 157, 85);
}
.n3{
    top: 80%;
}
.n4{
    position: absolute;
    height: fit-content;
    top: 90%;
    background-color: rgb(82, 206, 103);
}
.n5{
    position: absolute;
    left: 50%;
    top: 5vh;
    transform: translate(-50%);


}
.n7{
    top: 90%;
}
.n8{
    top: 55%;
}

.credits{
    top: 90%;
    background: rgb(191, 169, 252);
}