/*
font-family: 'DM Sans', sans-serif;
font-family: 'Caveat', cursive;
*/

:root{
    --texte:#000000;
    --principale:#c59ef8;
    --secondaire:#f89ef4;

}
*{
    color: var(--texte);
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
main{
    max-width: 1920px;
    margin: 0 auto;
    box-shadow:0px 0px 50px black;

}
body{

    background: rgb(254,236,255);
    background: linear-gradient(0deg, rgba(53,9,121,1) 0%, rgba(235,202,255,1) 100%);
    width: 100vw;
    overflow-x: hidden;
    position: relative;


}

header{
    max-width: 1920px;
    margin: 0 auto;
    box-shadow:0px 0px 50px black;

    width: 100vw;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/mur_brique_fond.jpg);
    image-rendering:pixelated;
    background-size:cover;
     aspect-ratio: 1604/965;
     background-size:cover;
     background-position:center;
      background-repeat:no-repeat;
      position: relative;
      text-align: center;
    }
h1{
    position: absolute;
    width: 100%;
    top: 10vmin;
    font-family: 'Caveat', cursive;
font-size: 10vmin;
}
header p{
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    bottom: 2vmin;
    width: 100%;
    font-size: 2vmin;
    font-weight: 800;
}

.action{
    position: absolute;
    width: 100%;
    bottom: 20vmin;
    font-family: 'Caveat', cursive;
    font-size: 10vmin;
}

section{
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 1920px;

}
#n1{
    background-image: url(../img/img_arriere_plan/n1.png);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 1717/966;

    }
#n2{
    background-image: url(../img/img_arriere_plan/mur_brique_fond.jpg);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 1604/965;


}
#n3{
    background-image: url(../img/img_arriere_plan/n3.png);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 1717/966;
}
#n4{
    background-image: url(../img/img_arriere_plan/n4.png);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 1717/966;
}
#n5{
    background-image: url(../img/img_arriere_plan/n5.png);
    background-size:cover;
    background-position:left;
     background-repeat:no-repeat;
     aspect-ratio: 1717/966;
}
#n6{
    background-color:#0aaddf;
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 16/9;
}
#n7{
    background-image: url(../img/img_arriere_plan/n7.jpg);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 16/9;
}
#n8{
    background-image: url(../img/img_arriere_plan/n8.jpg);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 16/9;
}


.spritesheetbody{
    height: 600vh;
    width: 100vw;
}
.spritesheet{
    position: absolute;
    width: 300px;
    bottom:300px;
    left: 0;
    aspect-ratio: 1/1;
    background-size: 2400% 100%;
    background-position: 2400% 0;
    background-image: url(../img/img_elements_visuels/spritesheet_chat_marche.png);
    animation-name: marche;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(24);
    animation-play-state: paused;
}
@keyframes marche {
    from { background-position: 0 0; }
    to { background-position: -2400% 0; } 
  }
  
  .is-scrolling .spritesheet{
    animation-play-state:running

  }