/*
font-family: 'DM Sans', sans-serif;
font-family: 'Caveat', cursive;
*/

:root{
    --texte:#000000;
    --principale:#c59ef8;
    --secondaire:#f89ef4;

}
*{
    color: var(--texte);
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
main{
    max-width: 1580px;
    margin: 0 auto;
    box-shadow:0px 0px 50px black;

}
body{

    background: rgb(254,236,255);
    background: linear-gradient(0deg, rgba(53,9,121,1) 0%, rgba(235,202,255,1) 100%);
    width: 100vw;
    overflow-x: hidden;
    position: relative;


}

header{
    max-width: 1580px;
    margin: 0 auto;
    box-shadow:0px 0px 50px black;

    width: 100vw;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/mur_brique_fond.jpg);
    image-rendering:pixelated;
    background-size:cover;
     aspect-ratio: 1604/965;
     background-size:cover;
     background-position:center;
      background-repeat:no-repeat;
      position: relative;
      text-align: center;
    }
h1{
    position: absolute;
    width: 100%;
    top: 10vmin;
    font-family: 'Caveat', cursive;
font-size: 10vmin;
}
header p{
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    bottom: 2vmin;
    width: 100%;
    font-size: 2vmin;
    font-weight: 800;
}

.action{
    position: absolute;
    width: 100%;
    bottom: 20vmin;
    font-family: 'Caveat', cursive;
    font-size: 10vmin;
}

section{
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 1580px;

}
#n1{
    background-image: url(../img/img_arriere_plan/n1.png);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 1717/966;
    }
#n2{
    background-image: url(../img/img_arriere_plan/mur_brique_fond.jpg);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 1604/965;
}
#n3{
    background-image: url(../img/img_arriere_plan/n3.png);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 1717/966;
}
#n4{
    background-image: url(../img/img_arriere_plan/n4.png);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 1717/966;
}
#n5{
    background-image: url(../img/img_arriere_plan/n5.png);
    background-size:cover;
    background-position:left;
     background-repeat:no-repeat;
     aspect-ratio: 1717/966;
}
#n6{
    background-image: url(../img/img_arriere_plan/n6.png);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 16/9;
}
#n7{
    background-image: url(../img/img_arriere_plan/n7.jpg);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 16/9;
}
#n8{
    background-image: url(../img/img_arriere_plan/n8.jpg);
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;
     aspect-ratio: 16/9;
}